@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&family=Wendy+One&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spicy Rice", sans-serif;
  font-weight: 400;
  font-style: normal;
}
:root{
  --text-main-color: #FF3131;
  --text-secondary-color: #FF9898;
  --text-brown: #9D5B3E;
  --text-bege: #FFDCAC;
  --text-light-brown: #D98932;
}
.img-container{
  width: 100%;
  height: 100vh;
  position: absolute;
  background-position: center;
  background-size: contain;
  inset: 0;
  z-index: 2;
  opacity: .85;
  background-repeat: no-repeat;
}
.img1{
    background-image: url("./assets/img1.png");
}
.img2{
  background-image: url("./assets/img2.png");
  background-position: left;
  margin-left: -15vh;
}
.img3{
  margin-top: 25vh;
  background-image: url("./assets/img3.png");
}
.img4{
  margin-top: 30vh;
  background-image: url("./assets/img4.png");
}

span{
  text-shadow: 4px 4px 1px black;
}
.span-bege{
  color: var(--text-bege);
}
.span-pink{
  color: var(--text-main-color);
}
.span-light-brown{
  color: var(--text-light-brown);
}

.center-align{
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-align-column{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.left-align{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

h3, h1{
  font-family: "Wendy One";
}
section{
  width: 100%;
  height: 100vh;
  background: #F0D4AC;
  position: relative;
}
.dark-section{
  background: #9c5a3c;
}
.container{
  position: relative;
  z-index: 3;
}
header{
  position: absolute;
  top: 0;
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  background: #9d5b3eab;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  a{
    color: var(--text-bege);
    padding: 10px 45px;
    border: solid 3px var(--text-bege);
    font-size: 40px;
    text-decoration: none;
    font-family: "Wendy One", sans-serif;
    &:hover{
      text-decoration: underline;
    }
  }
}
.project-c{
  .project-name{
    font-size: 150px;
    color: transparent;
    -webkit-text-stroke-width: 3px; /* Sets the stroke width for WebKit browsers */
    -webkit-text-stroke-color: var(--text-main-color); /* Sets the stroke color for WebKit browsers */
    text-shadow: 5px 5px 5px var(--text-secondary-color);
  }
  .project-subtitle{
    color: var(--text-main-color);
    font-size: 100px;
  }
}

.members-c{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 70%;
  .members-title{
    color: white;
    font-size: 75px;
    -webkit-text-stroke-width: 2px; /* Sets the stroke width for WebKit browsers */
    -webkit-text-stroke-color: black; /* Sets the stroke color for WebKit browsers */
  }
  .members{
    font-size: 35px;
    text-align: justify;
    width: 75%;
  }
}

.plot-s{
  justify-content: space-evenly;
  align-items: center;
  .gif{
    background: url('./assets/standing-cookie.gif') center/cover no-repeat;
    width: 50%;
    height: 100%;
    z-index: 3;
  }

  .plot-c{
  margin-right: 5%;
  width: 45%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .plot-title{
    color: var(--text-main-color);
    font-size: 75px;

  }
  .plot{
    text-align: justify;
    font-size: 27.5px;
  }
}
}


.idea-c{
  margin-right: 50px;
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .idea-title{
    color: white;
    font-size: 75px;

  }
  .idea{
    text-align: justify;
    color: var(--text-bege);
    font-size: 34px;
  }
}
